<div class="space_item">
	<%= icon("folder") %> <%= link_to space.name, :action => "view", :id => space.alias %> 
	<span class="lg f12">
		<%= space.discussions.count %> discussions / 
		<%= space.children.size %> sub-space(s)
	</span>
	<span class="gl f11">
		<%= link_to "Admin", :action => "admin", :id => space.alias %>
	</span>	
</div>