<% content_for :sidebar do %>
	<%= button "add.png",  "Create new discussion",{ :controller => 'discussion', :action => 'new', :id => @space.id} %><br />
	<%= button "admin.png",  "Space admin",{ :action => 'admin', :id => @space.alias} %>
<% end %>

<h1><%= s_back(@space) %></h1>

<!-- Subspaces -->
<% if !@space.children.empty? %>
	<h3>Sub-spaces</h3>
	<%= render :partial => "space", :collection => @space.children %>
<% end %>

<!-- Discussions -->
<h3>Discussions</h3>
<% if @space.discussions.empty? %>
	<div class="message">Empty space is useless space. Create some discussions, for your own sake!</div>
<% else %>
	<%= render :partial => "discussion", :collection => @space.discussions %>
<% end %>

<!-- Pages 
<h3>Pages</h3>
-->