<div id="comment_<%= comment.id %>" class="comment <%= "answer" if comment.answer == 1 %>">
	<%= cloth(comment.body) %>
	<div class="info">
		<%= u(comment.user) %> on <%= comment.created_at.strftime("%H:%M, %Y/%m/%d")%> <%= "last edited on: #{comment.updated_at.strftime("%H:%M, %Y/%m/%d")}" unless comment.created_at == comment.updated_at %>

		<span class="gl">		
		<% if comment.user_id == current_user.id %>
			<%= link_to_remote "Edit comment", :url => {:action => 'edit_comment', :id => comment.id} %>
		<% end %>
		
		<% if comment.discussion.user_id == current_user.id and comment.discussion.kind == 1 %>
			<% if comment.answer != 1 %>
				<%= link_to_remote("Mark as correct answer", :url => {:action => "mark_as_answer", :id => comment.id}) %>
			<% else %>
				<%= link_to_remote("Unmark", :url => {:action => "unmark_as_answer", :id => comment.id}) %>
			<% end %>
		<% end %>
		</span>
	</div>
</div>