<div id="comment_<%= comment.id %>" class="comment <%= "answer" if comment.answer == 1 %>">
	<%= cloth(comment.body) %>
	<div class="info">
		<%= u(comment.user) %> on <%= comment.created_at.strftime("%H:%M, %Y/%m/%d")%>
		
		<% if comment.discussion.user_id == current_user.id %>
			<% if comment.answer != 1 %>
				<%= link_to_remote("Mark as correct answer", :url => {:action => "mark_as_answer", :id => comment.id}) %>
			<% else %>
				<%= link_to_remote("Unmark", :url => {:action => "unmark_as_answer", :id => comment.id}) %>
			<% end %>
		<% end %>
	</div>
</div>