<h1>Create a new discussion</h1>

<% form_for :discussion, @discussion do |f| %>
	Subject: <%= f.text_field :subject %><br/>
	Kind: <%= f.select :kind, discussion_options %><br/>
	Body: <br/><%= f.text_area :body, :rows => 5 %><br/>
	<%= f.hidden_field :space_id, :value => params[:id] %>
	
	<%= submit_tag 'Create' %>
<% end %>