<h1>Create a new discussion</h1>

<fieldset>
<% form_for :discussion, @discussion do |f| %>
	Subject: <%= f.text_field :subject %><br/>
	Kind: <%= f.select :kind, discussion_options %><br/>
	Body: <br/><%= textile_editor 'discussion', 'body' -%><br/>
	<%= f.hidden_field :space_id, :value => params[:id] %>
	<%= textile_editor_initialize -%>
	<%= submit_tag 'Create' %>
<% end %>
</fieldset>