<%= textile_editor_support %>

<h1><%= d_back(@discussion) %></h1>

<div class="discussion <%= d_kind(@discussion).downcase %>">
	<h1>
		<%= d_icon @discussion %> 
		<%= @discussion.subject %> 
		<em>Posted by <%= u(@discussion.user) %> <%= time_ago_in_words @discussion.created_at %> ago</em>
	</h1>
	<span id="discussion_text"><%= cloth(@discussion.body) %>
	<% if @discussion.user_id == current_user.id %>
		<%= link_to_remote "Edit discussion", :url => {:action => 'edit', :id => @discussion.id} %>
	<% end %>
	</span>
</div><strong></strong>

<%= render :partial => "comment", :collection => @discussion.comments %>

<div id="response">
	<h2>Your response:</h2>
	<fieldset>
		<%= render :partial => 'comment_form' %>
	</fieldset>
</div>