<h1><%= d_back(@discussion) %></h1>

<div class="discussion <%= d_kind(@discussion).downcase %>">
	<h1>
		<%= d_icon @discussion %> 
		<%= @discussion.subject %> 
		<em>Posted by <%= @discussion.user.login %> <%= time_ago_in_words @discussion.created_at %> ago</em>
	</h1>
	<%= @discussion.body %>
</div>

<%= render :partial => "comment", :collection => @discussion.comments %>

<h2>Your response:</h2>
<% form_for :comment, @comment, :url => '/discussion/comment/' do |f| %>
	<%= f.hidden_field :discussion_id, :value => @discussion.id %>
	<%= f.text_area :body, :rows => 5 %><br/>
	<%= submit_tag 'Add comment' %>
<% end %>