<h1><%= d_back(@discussion) %></h1>

<h1><%= d_icon @discussion %> <%= @discussion.subject %></h1>
<%= @discussion.body %>

<%= render :partial => "comment", :collection => @discussion.comments %>

<h2>Your response:</h2>
<% form_for :comment, @comment, :url => '/discussion/comment/' do |f| %>
	<%= f.hidden_field :discussion_id, :value => @discussion.id %>
	<%= f.text_area :body, :rows => 5 %><br/>
	<%= submit_tag 'Post' %>
<% end %>