<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Openspace</title>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "grids-min", "screen" %>
	<link rel="alternate" type="application/rss+xml" title="Openspace feed" href="<%= feed_url %>" />
	<link rel="icon" href="/favicon.ico" type="image/gif">
</head>
<body>
	<div id="doc3" class="yui-t4">
		<div id="hd">
			<div class="yui-g" id="menu">
				<div class="yui-u first">
					Navigation: 
					<% if logged_in? %>
						<%= link_to "Spaces", :controller => "space" %> / 
						<%= link_to "Activity", :controller => "activity" %> / 
						<%= link_to "Logout", :controller => "account", :action => "logout" %>
					<% else %>
						<%= link_to "Login", :controller => "account", :action => "login" %> / 
						<%= link_to "Sign-up", :controller => "account", :action => "signup" %>
					<% end %>					
				</div>
				<div class="yui-u right">
					<%= image_tag("logo-tiny.gif", :class => "va")%> <strong>Openspace / BETA</strong>
				</div>
			</div>			
		</div>
		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<%= yield %>
				</div>
			</div>
			<div class="yui-b" id="sidebar">
				<div id="message"></div>
				<%= yield :sidebar %>
				
				<% if logged_in? %>
					<div id="userbox" class="f11">
						<%= avatar(current_user, 24) %> <%= u(current_user, false) %>
						(<%= link_to "Preferences", :controller => "account", :action => "preferences" %>) 
					</div>
				<% end %>
			</div>
		</div>
		<div id="ft">
			<strong>Webreakstuff 2008</strong> | This stuff is so beta it actually makes baby jesus cry.
		</div>
	</div>
</body>
</html>